@use "../utilities/variables" as v; 
*{
  margin: 0;
  padding: 0;
}

body {
  background-color: v.$color_principal;
  margin: 0;
}

h1, h2, h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}



h1 {
  color: v.$primari_color;

}

nav {
  color: v.$secudari_color;
}

h2 {
  color: v.$tercer_color;
}


footer {
  color: v.$tercer_color;

}


body {
  background-color: v.$color_principal;
  margin: 0;
}

nav {
  background-color: v.$color_principal;
}

article, section {
  background-color: v.$color_principal;
  padding: 20px;
  margin-bottom: 20px;
}

.nav-links{
  color: v.$secudari_color;
}
body {
  margin: 0;
  min-height: 100dvh; // o 100vh: asegura que el body mida al menos el 100% del alto de la ventana
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; // Crece y ocupa todo el espacio sobrante, empujando al footer al fondo
}
