h1, h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

/* Contenido */
nav, ul, li, a, figcaption, p, article, section {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}





h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3{
  font-size: 16px ;
}